pandas
geopandas
shapely
factor-analyzer
scikit-learn
matplotlib
seaborn
plotly
dash
streamlit
streamlit_folium
Folium
openpyxl
FastAPI
pytest==8.3.4
pymongo
motor
fastapi
uvicorn
requests
dotenv
#install local packages which are recognizable by the __init__.py file
-e . 