pandas
geopandas
shapely
factor-analyzer
scikit-learn
matplotlib
seaborn
plotly
dash
streamlit
streamlit_folium
Folium
openpyxl
FastAPI
pytest==8.3.4
pytest-mock
email-validator
pymongo
motor
fastapi
fastapi[standard]
uvicorn
requests
python-dotenv
st_star_rating
passlib[bcrypt]
python-jose[cryptography]
pytest-asyncio
# Install local packages which are recognizable by the __init__.py file
-e .
