pandas
geopandas
shapely
factor-analyzer
scikit-learn
matplotlib
seaborn
plotly
dash
streamlit
streamlit_folium
Folium
openpyxl
FastAPI
pytest==8.3.4
pymongo
motor
fastapi
uvicorn
requests
python-dotenv
st_star_rating
passlib[bcrypt]
python-jose[cryptography]
twisted
pytest_asyncio
httpx==0.27.2
pytest-cov
# Install local packages which are recognizable by the __init__.py file
-e .
